{% extends "::base.html.twig" %}

{% block title %}VascoCrudBundle:Todo:create{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/plugins/datepicker/dist/css/bootstrap-datepicker.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h2 class="page-header">Add Todo</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/plugins/datepicker/dist/js/bootstrap-datepicker.js') }}"></script>
{% endblock %}
